<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Samochód</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/style/css/style.css}"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Marka</td>
        <td>Model</td>
        <td>Rok produkcji</td>
        <td>Silnik</td>
        <td>Paliwo</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.productionYear}"></td>
        <td th:text="${car.engine}"></td>
        <td th:text="${car.fuel}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
