<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/style/css/style.css}"/>
    <title>Add car</title>
</head>
<body class="bg">
<form class="center-element" action="/cars/" method="post">
    <p class="bigger-text" style="margin-bottom: 5px">Brand</p>
    <input class="bigger-input" id="brand" required type="text" name="brand">
    <p class="bigger-text" style="margin-bottom: 5px">Model</p>
    <input class="bigger-input" id="model" required type="text" name="model">
    <p class="bigger-text" style="margin-bottom: 5px">Production year</p>
    <input class="bigger-input" id="productionYear" required type="number" name="productionYear">
    <p class="bigger-text" style="margin-bottom: 5px">Engine</p>
    <input class="bigger-input" id="engine" required type="text" name="engine">
    <p class="bigger-text" style="margin-bottom: 5px">Fuel</p>
    <input class="bigger-input" id="refuel" required type="text" name="refuel">
    <br>
    <input class="button" style="margin-top: 20px" type="submit" value="Add car">
</form>
</body>
</html>
