<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/css/style.css}"/>
    <title>Użytkownik</title>
</head>
<body class="bg">
<form action="/users/createUser" method="post">
    <label for="userName">Login:</label><br>
    <input type="text" id="userName" name="userName"><br>
    <label for="password">First name:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Create account">
</form>

</body>
</html>
