<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/style/css/style.css}"/>
</head>
<body class="bg">
<div class="errors" th:if="${(param.error != null)}">
    The username or password is incorrect!
</div>
<form action="/basicAuth/login" method="post">
    <p class="bigger-text center-element">Username</p>
    <input class="bigger-input center-element add-margin-20" name="username" type="text" placeholder="Enter username">
    <p class="bigger-text center-element" style="margin-top: 20px">Password</p>
    <input class="bigger-input center-element" name="password" type="password" placeholder="Password">
    <input class="button center-element" style="margin-top: 30px" type="submit" value="Login">
</form>
</body>
</html>
