html, body {
    margin: 0;
    height: 100%;
}

div {
    box-sizing: border-box;
}

table {
    width: 100%;
}

.left-column {
    float: left;
    width: 200px;
    text-align: right;
}

.right-column {
    margin-left: 210px;
    text-align: left;
}

.bg {
    background-image: url(../../images/background.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-element {
    display: block;
    margin: auto;
    text-align: center;
}

.button {
    height: 40px;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: #d1d1d1;
    text-align: center;
}

.button:hover {
    background-color: #8f8f8f;
    height: 40px;
    width: 200px;
    font-size: 25px;
}

.button:active {
    background-color: #616161;
}

.button-normal {
    height: 30px;
    width: 185px;
    border-radius: 30px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    background-color: #d1d1d1;
    text-align: center;
}

.button-normal:active {
    background-color: #616161;
}

.errors {
    font-size: 30px;
    font-weight: bold;
    color: maroon;
    display: block;
    text-align: center;
    margin: auto;
}

.bigger-text {
    font-size: 30px;
    font-weight: bold;
    display: block;
    color: black;
}

.bigger-text:hover {
    color: darkred;
}

.bigger-input {
    box-shadow: 5px 5px 10px 5px Black;
    border: 5px solid black;
    font-size: 30px;
    height: 35px;
    width: 300px;
    background-color: #d1d1d1;
    border-radius: 30px;
}

.bigger-input:focus {
    outline: none;
}

.normal-input {
    border: 1px solid Yellow;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px 2px Black;
    font-size: 20px;
    min-height: 36px;
    max-height: 36px;
    width: 175px;
    background-color: #d1d1d1;
    border-radius: 30px;
}


.label {
    margin-top: 15px;
    vertical-align: middle;
    line-height: 40px;
    display: block;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    overflow: auto;
}

.right-column p, .left-column p  {
    margin: auto;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    overflow: auto;
}
