<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<table>
    <thead>>
    <tr>
        <td>Marka</td>
        <td>Model</td>
        <td>Rok produkcji</td>
        <td>Silnik</td>
        <td>Paliwo</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${Car.brand}"></td>
        <td th:text="${Car.model}"></td>
        <td th:text="${Car.productionYear}"></td>
        <td th:text="${Car.engine}"></td>
        <td th:text="${Car.fuel}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
