<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Create car</title>
</head>
<body>
<form action="/car/" method="post">
    Marka <input id="brand" required type="text" name="brand">
    Model <input id="model" required type="text" name="model">
    Rok Produkcji <input id="productionYear" required type="number" name="productionYear">
    Silnik <input id="engine" required type="text" name="engine">
    Paliwo <input id="fuel" required type="text" name="fuel">
    <input type="submit" value="Dodaj samochód">
</form>
</body>
</html>
